/* About section */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    text-align: center;
    color: white;
}

.about-img {
    width: 20rem;  /* Adjust the size as needed */
    height: 20rem;
    border-radius: 50%;  /* Makes the image circular */
    margin-bottom: 1.25rem;
}


#about p {
    max-width: 50rem; /* Adjust this as needed */
    font-size: 1.2rem;
    color: #fff;
}

#about h1 {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    color:white;
}

#about h1::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.25em;
    background-color: #ff3d3d; /* Red color */
    bottom: 0.25em; /* Moves the line slightly below the text */
    left: 1em;
    z-index: -1; /* Puts the red box behind the text */
}
