
/* Contact section */
#contact {
    padding: 0px 2.5rem 1.875rem 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}


#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    font-size: 1.1rem;
    margin: 0.625rem 0;
}

#contact h1 {
    display: inline-block;
    position: relative;
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 0;

    color:white;
    z-index: 1;
}

#contact h1::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.19em;
    background-color: #ff3d3d; /* Red color */
    bottom: 0.35em; /* Moves the line slightly below the text */
    left: 1em;
    z-index: -1; /* Puts the red box behind the text */
}

.contact-box {
    text-align: center;
    padding: 1.25rem;
    background-color: #2b2b2b; /* Adjust background color */
    border-radius: 0.625rem;
    max-width: 30rem;
    margin: 0 auto; /* Center the box */
}



.contact-box ul {
    list-style-type: none;
    padding: 0;
}

.contact-box li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    color: white;
}
  
  .contact-box img.icon {
    width: 2.1rem;   /* Adjust the icon size */
    height: 1.7rem;  /* Adjust the icon size */
    margin-right: 1rem;
  }
  
  .contact-box a {
    color: #ff3d3d; /* Adjust color */
    text-decoration: none;
    font-weight: bold;
}

.contact-box strong {
    margin-right: 5px;
}
  
  .contact-box a:hover {
    text-decoration: underline;
  }


  @media only screen and (max-width: 768px) {
    #contact{
        padding: 1rem 2.5rem 0.4rem 1.6rem;
    }


  
    #contact h1 {
      font-size: 1.75rem; /* Adjust the heading size */
      margin-top: 0;
    }
  
    .contact-box {
      padding: 1rem; /* Reduce padding for mobile */
      max-width: 80%; /* Make it fill the width on smaller screens */
      margin: 0 auto; /* Center the contact box horizontally */
      box-sizing: border-box; /* Ensure padding doesn't exceed width */
      text-align: left; /* Align text to the left */
      
    }

    .contact-box ul{
        margin-top: 0;
    }

    .contact-box ul li {
        display: flex;
        align-items: center; /* Align the icon and text vertically */
        margin-bottom: 0.75rem; /* Space between items */
    }

      /* Hide the labels on mobile */
      .contact-box ul li strong {
        display: none;
      }
  
    .contact-box img.icon {
      width: 1.5rem;  /* Adjust icon size for mobile */
      height: 1.5rem; /* Adjust icon height */
      margin-right: 1rem; /* Adjust spacing between icon and text */
    }
  
    .contact-box a {
      font-size: 0.9rem; /* Reduce the link font size */
      color: #ff3d3d; /* Ensure link color is clear */
      white-space: nowrap;
    }
  }