
/* Contact section */
#contact {
    padding: 0px 2.5rem 1.875rem 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    font-size: 1.1rem;
    margin: 0.625rem 0;
}

#contact h1 {
    display: inline-block;
    position: relative;
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 0;

    color:white;
    z-index: 1;
}

#contact h1::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.19em;
    background-color: #ff3d3d; /* Red color */
    bottom: 0.35em; /* Moves the line slightly below the text */
    left: 1em;
    z-index: -1; /* Puts the red box behind the text */
}

.contact-box {
    text-align: center;
    padding: 1.25rem;
    background-color: #2b2b2b; /* Adjust background color */
    border-radius: 0.625rem;
    max-width: 30rem;
    margin: 0 auto; /* Center the box */
}



.contact-box ul {
    list-style-type: none;
    padding: 0;
}

.contact-box li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    color: white;
}
  
  .contact-box img.icon {
    width: 2.1rem;   /* Adjust the icon size */
    height: 1.7rem;  /* Adjust the icon size */
    margin-right: 1rem;
  }
  
  .contact-box a {
    color: #ff3d3d; /* Adjust color */
    text-decoration: none;
    font-weight: bold;
}

.contact-box strong {
    margin-right: 5px;
}
  
  .contact-box a:hover {
    text-decoration: underline;
  }