nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    transition: all 0.3s ease;
    max-width: 100vw;
    
    
}

nav.scrolled {
    background-color: rgba(43, 43, 43, 0.95); /* Background after scrolling */
    height: 5rem;
    box-shadow: 
        0 -10px 15px rgba(0, 0, 0, 0.5), /* Top shadow */
        0 10px 15px rgba(0, 0, 0, 0.5);  /* Bottom shadow */
}
.nav-left {

    margin-left: 8rem;
}
.nav-right {
    
    margin-right: 8rem;
}


/* Navigation items */
.nav-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-right ul li {
    margin-left: 5rem;
    white-space: nowrap; /* Prevent text wrapping */
}

.nav-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-right ul li a:hover {
    color: #ddd;
}

.nav-left h1 {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    white-space: nowrap; /* Prevent the name from breaking into two lines */
    font-weight: bold;
    margin: 0.8rem 0 0.8rem 0;
    color:white;
}
@media only screen and (min-width: 769px) {
    .page-bottom-nav {
        display: none; /* Hide the bottom navigation on desktop */
    }
}
/* Bottom of page navigation styles for mobile */
@media only screen and (max-width: 768px) {
    nav{
        display: none;
    }
    /* Style the bottom nav before the footer */
    .page-bottom-nav {
        width: 100%;
        background-color: rgba(43, 43, 43, 0.95);
        padding: 1.5rem 0;
        margin-bottom: 2rem; /* Add margin before the footer */
        text-align: center;
    }

    .page-bottom-nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;  /* Make the links display in a column */
        align-items: center;     /* Center the links horizontally */
        gap: 1.5rem;             /* Space between the links */
        padding: 0;
        margin: 0;
    }

    .page-bottom-nav ul li {
        display: block; /* Each item takes full width in the column */
    }

    .page-bottom-nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .page-bottom-nav ul li a:hover {
        color: #ff3d3d; /* Add hover effect */
    }
}
