nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    transition: all 0.3s ease;
    
}

nav.scrolled {
    background-color: rgba(43, 43, 43, 0.95); /* Background after scrolling */
    height: 80px;
    box-shadow: 
        0 -10px 15px rgba(0, 0, 0, 0.5), /* Top shadow */
        0 10px 15px rgba(0, 0, 0, 0.5);  /* Bottom shadow */
}
.nav-left {
    padding-left: 0px; /* Add padding on the left to avoid cutting off the name */
    margin-left: 150px;
}
.nav-right {
    padding-right: 0px; /* Add padding on the left to avoid cutting off the name */
    margin-right: 150px;
}


/* Navigation items */
.nav-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-right ul li {
    margin-left: 80px;
    white-space: nowrap; /* Prevent text wrapping */
}

.nav-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-right ul li a:hover {
    color: #ddd;
}

.nav-left h1 {
    display: inline-block;
    position: relative;
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
    color:white;
}

.nav-left h1::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.25em;
    background-color: #ff3d3d; /* Red color */
    bottom: 0.25em; /* Moves the line slightly below the text */
    left: 1em;
    z-index: -1; /* Puts the red box behind the text */
}