#skills {
    text-align: center;
    padding: 40px;
    margin-top:20px;
}

.skills-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}
.skills-container-2 {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

#skills h1 {
    display: inline-block;
    position: relative;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 150px;
    color:white;
}

#skills h1::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.25em;
    background-color: #ff3d3d; /* Red color */
    bottom: 0.25em; /* Moves the line slightly below the text */
    left: 1em;
    z-index: -1; /* Puts the red box behind the text */
}
.skill-item {
    width: 125px;
    height: 125px;
    background: linear-gradient(135deg, #333, #111); 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7); /* This makes the shadow always visible */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-item img {
    width: 80px;
    height: 80px;
}

.skill-item::after {
    content: "";
    
    bottom: 10px;  /* Adjust this based on your layout */
    width: 60px;   /* Width of the shadow */
    height: 5px;  /* Height of the shadow */
    margin-top: 5px;
    margin-bottom: -5px;
    background: rgba(66, 66, 66, 0.3);  /* Semi-transparent shadow */
    border-radius: 50%;
    z-index: 0;    /* Make sure it's behind the logo */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

.skill-item p {
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
}

.skill-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}